
.Full_body{
  background-color: aqua;
}
/* @font-face {
  font-family: "SnellBT Regular";
  src: url('./font/snellBT-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} */
.hero_area {
  height: calc(100vh - 45px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.navbar-brand {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  font-family: "SnellBT Regular", sans-serif;
  color: #000000;
}
.nav-right{
 flex-direction: right;
 flex-grow: 0;
}
.nav-items{
  padding: 0px 80px 0px 80px ;
}