.slider_section {
    position: relative;
    padding: 60px 0;
    background-color: #f8f9fa;
}

.left-overlay-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
}
.overlay-images {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.right-overlay-img {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    opacity: 0.8;
    z-index: 0;
    height: 100%;
}

.slider-img-container .main-slider-img {
    position: relative;
    right: -130px;
    width: 65%;
    z-index: 2;
}

.carousel-btn-left {
    position: relative;
}

.carousel-btn-right {
    position: relative;
}

.carousel-btn:hover {
    background-color: #ddd;
}
.carousel-buttons {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.carousel-btn {
    background-color:white;
    border: 2px white;
    color: brown;
    padding: 20px 25px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    float: left;    
}
.carousel-slide .carousel-inner .detail_box .carousel-item-active{
    z-index: 1;
}

